@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    
}
body
{
    min-height: 100vh;
    
    /* background: linear-gradient(#ff0000,#000000); */
    overflow-x: hidden;
    -ms-overflow-style: none;

    background:
        linear-gradient(rgb(131,169,90), transparent),
        linear-gradient(to top left, yellow, transparent),
        linear-gradient(to top right, orange, transparent);
    background-blend-mode: screen;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 170%;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: transparent;
    transition: all 0.5s;
}
header .logo
{
    color: #000000;
    z-index: 100;
}
#pagelogo
{
    
    height: 10vw;  
    margin-left: -10em; 
    z-index: 100;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60vw;
}
header ul li
{
    list-style: none;
    margin-left: 1vw;
}
header ul li a
{
    text-decoration: none;
    padding: 0.30em 0.75em;
    color: #000000;
    border-radius: 0em;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    white-space: nowrap;
    
    
}
header ul li a:hover,
header ul li a.active
{
    color: #616161;
    
}
.activeheader {
    background: rgba(166, 166, 166, 0.3);
  }
.sec1
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sec2{
    position: relative;
    padding: 100px;
    /* background: linear-gradient(to top, white,transparent); */
}

.sec2 p{
    line-height: 180%;
}
.product{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    overflow: hidden;
}
.producttitle{
    text-align: center;
    font-size: 3vw;
    margin-top: 5em;

}
#text1{
    /* margin: 0.2em; */
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 6vw;
    z-index: 9;
}
#text2{
    
    position: relative;
    /* margin: 0.2em; */
    color: #fff;
    white-space: nowrap;
    font-size: 6vw;
    z-index: 9;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 10vw;
    padding-top: 0.5em;
    z-index: 1;
    /*transform: translateY(10px);*/
}
.dropdown-content a {
    color: black;
    padding: 0.6em 0.8em;
    margin-top: 0.4em;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    background: #b3b3b3;
    font-size: 1.2vw;
} 
.dropdown-content a:hover {
    background-color: #2f2f2f;
    color: white;
}
  
.dropdown:hover .dropdown-content {display: block;}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin-top: 5em;
    padding: 2em;
}

.product-list .card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    font-family: "Poppins";
}

.product-list .card:hover {
    box-shadow: 0px 10px 5px #636e72;
}

.producttitle{
    text-align: center;
    font-size: 3vw;
    margin-top: 5em;
}
.card-image img{
    height: 15vw;
}
.card-button{
    padding: 1em;
}
.card-button a{
    text-decoration: none;
    padding: 0.4em;
    border-radius: 0.7em;
    background: #a0a0a0;
    color: #000000;
    font-size: 1em;
    border: none;
}

.card-button a:hover{
    background: #808080;
}
.testimonials {
    /* background: white; */
    text-align: center;
    padding-top: 1.5em;
    
}
.customposter {
    width: 45%;
}



